aniso8601==9.0.1
attrs==21.4.0
click==8.0.3
Flask==2.0.3
flask-restx==0.5.1
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
loguru==0.6.0
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
py==1.11.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.0.1
pytz==2021.3
six==1.16.0
tomli==2.0.1
Werkzeug==2.0.3
zope.event==4.5.0
zope.interface==5.4.0
